header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 3rem;
    width: px;
}
main{
    background-color: ;
}
section{
    width: px;
    text-align: center;
}
.productos{
    width: 500px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    background: #fff;
    display: inline-block;
    text-align: center;
    width: 29%;
    vertical-align: /*top*/;
    margin: 1.5% 1.5%;
    padding: 0px 0px;
    box-sizing: /*border-box*/;
    border: 2px solid #000000;
    border-color: #000000;
    border-width: px;
    border-style: solid;
    border-radius: 10px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.img {
    width: 115px;
}
.precio {
    font-size: 23px;
    font-weight: bold;
    /*margin-top: */
}
@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    html {
         width: 811px;
    }
    
}
